/*colors rgb(126,202,194) lt blue
rgb(113, 189, 172) lt aqua
rgb(246,208,117) dk yellow
rgb(172,162,158) dk gray
rgb(141,208,169) dk green
rgb(216,244,203) lt green
rgb(117,73,103) purple
#dddfd4 gray
#fae596 yellow
#3fb0ac lt teal
#173e43 dk teal almost black
#71BDAC med teal

font style Alata, from fontsquirrel
mobile breakpoint 375px-600px
tablet breakpoint 600px-768px
tablet landscape  768px-992px
desktop breakpoint 992px and up

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s,
small, strike, strong, sub, sup, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* begin custom css */

html {
    font-family: 'Alata', sans-serif;
    scroll-behavior: smooth;
}
p {
   font-family: 'Montserrat', sans-serif;
   line-height: 2.0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fae596;
    border-bottom: 3px solid rgb(246,208,117);
    padding: 0px;
    margin-top: -10px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

header p {
    font-size: 26px;
    padding-left: 30px;
    color: rgb(117,73,103);
}
/* hamburger menu for mobile */
.hamburger {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
    background-color: #71BDAC;
    padding: 5% 0px;
  border-left: 2px inset #71BDAC;
}

.close {
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.hamburger ul {
    list-style: none;
    width: 250px;
    padding-left: 20px;
}

.hamburger a {
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
}

svg {
    padding-right: 30px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1; 
}
/*end hamburger menu*/

/* nav bar experiment, may have to delete */
/* @media only screen and (min-width: 990px) {
  svg {
      display: none;
  }
  .close {
    display: none;
  }
    .hamburger {
      display: block;
  }
  
  
  .hamburger ul {
    display: flex;
    align-items: center;
    justify-content: center;
      list-style: none;  
    padding-right: 15px;
  }
  
  .hamburger li {
    padding: 0px 40px;
  }
  
  .hamburger a {
      color: purple;
      font-size: 18px;
      text-decoration: none;
  }
  
  
  } */
  /*end nav bar media query*/

.headline {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
 
}
h1 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 70px 0px 20px 0px;
    position: relative;
    z-index: 1;    
}
.name {
  font-size: 40px;
  font-family: 'Kalam', cursive;
  
}
h1 {
  margin-left: 5px;
}


h2, h3 {
    font-size: 24px;
    color: #173e43;
  
}

h3 {
  
  margin: 80px 20px 0px 20px;
  padding-top: 70px;
  padding-bottom: 0px;
  font-size: 40px;
  font-family: 'Kalam', cursive;
  color: white;
  
}

h4 {
  color: #173e43;
  font-size: 25px;
}

main {
  margin: 0px 70px;
}


hr {
  background-color: rgb(246,208,117);
  height: 2px;
}



/*body background image and lines*/
body {
  background-image: linear-gradient(15deg, #dddfd4, rgb(172,162,158), #173e43);
  
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1050px;
  overflow-x: hidden;
}

.oblique {
  transform: rotate(-45deg) translateY(200px) translateX(-300px);
  width: 120vw;
  height: 0.25px;
  background-color: white;
  border-style: outset;
  /* animation:  3s linear 1s slidein; */
}

@media only screen and (min-width: 1100px) {
  .oblique {
    width: 85vw;
    transform: rotate(-45deg) translateY(350px) translateX(-300px);
}
}
/* @keyframes slidein {
  from {width: 0%;}
  to {width: 50%;}
  to {width: 100%;}

} */


.horizontal {
  transform: translateY(190px);
  width: 80vw;
  height: 0.25px;
  background-color: white;
  border-style: outset;
  /* animation:  3s linear 1s slidein; */
}
/*circle section*/

main {
  padding-top: 110px;
}

/*enlarge circles on hover*/
.circle {
  transition-timing-function: linear;
  transition: .8s;
}
.circle:hover {
  transform: scale(1.4);
  font-size: 22px;
  z-index: 3;
}
/*end enlarge circles on hover*/

.projects-circle {
    background-color: rgb(141,208,169);
    position: absolute;
    top: 220px;
    left: 20px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-me-circle {
    background-color: #3FB0AC;
    position: absolute;
    top: 330px;
    left: 200px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-circle {
    background-color: rgb(113, 189, 172);
    position: absolute;
    top: 450px;
    left: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-circle {
    background-color: rgb(216,244,203);
    position: absolute;
    top: 510px;
    left: 150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.languages-circle {
    background-color: rgb(126,202,194);
    position: absolute;
    top: 760px;
    left: 30px;
    width: 280px;
    height: 280px; 
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: flex-end
}
  
/* } */

@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    height: 900px;
  }
main {
  padding-top: 5px;
} 
  h1 {
  padding-left: 5px;
  }
  
.projects-circle {
    background-color: rgb(141,208,169);
    position: absolute;
    top: 180px;
    left: 50px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-me-circle {
    background-color: #3FB0AC;
    position: absolute;
    top: 240px;
    left: 245px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-circle {
    background-color: rgb(113, 189, 172);
    position: absolute;
    top: 400px;
    left: 155px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-circle {
    background-color: rgb(216,244,203);
    position: absolute;
    top: 400px;
    left: 280px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages-circle {
    background-color: rgb(126,202,194);
    position: absolute;
    top: 590px;
    left: 30px;
    width: 280px;
    height: 280px; 
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: flex-end
}
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
 
  body {
  height: 890px;
  }  
main {
  padding-top: 0px;
} 
  h1 {
    padding-left: 10px;
  }
  
.projects-circle {
    background-color: rgb(141,208,169);
    position: absolute;
    top: 180px;
    left: 140px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-me-circle {
    background-color: #3FB0AC;
    position: absolute;
    top: 240px;
    left: 370px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-circle {
    background-color: rgb(113, 189, 172);
    position: absolute;
    top: 400px;
    left: 310px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-circle {
    background-color: rgb(216,244,203);
    position: absolute;
    top: 380px;
    left: 440px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages-circle {
    background-color: rgb(126,202,194);
    position: absolute;
    top: 530px;
    left: 100px;
    width: 280px;
    height: 280px; 
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: flex-end
}
}
.languages-circle h2 {
  text-align: center;
}

@media only screen and (min-width: 901px) and (max-width: 1223px) {
 
  body {
  height: 890px;
  }  
main {
  padding-top: 0px;
} 
  h1 {
  padding-left: 20px;
  }
.projects-circle {
    background-color: rgb(141,208,169);
    position: absolute;
    top: 180px;
    left: 120px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-me-circle {
    background-color: #3FB0AC;
    position: absolute;
    top: 240px;
    left: 720px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-circle {
    background-color: rgb(113, 189, 172);
    position: absolute;
    top: 370px;
    left: 510px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-circle {
    background-color: rgb(216,244,203);
    position: absolute;
    top: 550px;
    left: 600px;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages-circle {
    background-color: rgb(126,202,194);
    position: absolute;
    top: 480px;
    left: 130px;
    width: 320px;
    height: 320px; 
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: flex-end
}
}
.languages-circle h2 {
  text-align: center;
}
@media only screen and (min-width: 1224px) {
 
  h1 {
    padding-left: 70px;
  }
  body {
  height: 890px;
  }  
main {
  padding-top: 0px;
} 
  
  /* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fae596;
    border-bottom: 3px solid rgb(246,208,117);
    padding: 0px;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header p {
    font-size: 26px;
    padding-left: 30px;
    color: rgb(117,73,103);
} */
/* nav bar for large screens */
/* .navigation {
   display: flex;
}
  svg {
    display: none;
  }

  .hamburger {
  display: flex;
  }
  
.hamburger ul {
    list-style: none;
    padding-left: 20px;
  display: flex;
}

.hamburger a {
    color: white;
    font-size: 18px;
    text-decoration: none;
} */
  /*end nav bar for large screens*/
/* }  */




.projects-circle {
    background-color: rgb(141,208,169);
    position: absolute;
    top: 180px;
    left: 240px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-me-circle {
    background-color: #3FB0AC;
    position: absolute;
    top: 300px;
    left: 870px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio-circle {
    background-color: rgb(113, 189, 172);
    position: absolute;
    top: 430px;
    left: 610px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-circle {
    background-color: rgb(216,244,203);
    position: absolute;
    top: 530px;
    left: 900px;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages-circle {
    background-color: rgb(126,202,194);
    position: absolute;
    top: 480px;
    left: 130px;
    width: 320px;
    height: 320px; 
    border-radius: 50%;
    box-shadow: -1px 3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  align-self: flex-end
}
}
.languages-circle h2 {
  text-align: center;
}


/* begin main */
main {
  margin-top: 700px;
}
.background-art {
  background-image: linear-gradient(180deg, #dddfd4, 1%, rgb(172,162,158), 40%, #173e43); 
    repeat: repeat;
  width: 100%;
/*   height: 9200px; */
/*   background-image: linear-gradient(180deg, #173e43, rgb(172,162,158), #dddfd4, rgba(23,62,67,0.8) );
  repeat: no-repeat;
  background-size: contain; */
}

/* h3 {
  padding: 20px 0px;
} */

/* .titles {
  padding-top: 0px;
  background-color: transparent;
  border-style: outset;
  width: 0%;
  height: 1px;
  margin-bottom: 40px;
  animation: line-grow 1.5s ease-out;
  animation-delay: 3s;
  animation-iteration-count: 3;
}
@keyframes line-grow {
  from {width: 0%; transform-origin: left; transform: translateX(-800px); background-color: white;}
  to {width: 30%; transform: translateX(-500px); background-color: white;}
  to {width: 100%; transform: translateX(-200px); background-color: white;}
  to {width: 20%; transform: translateX(-50px); background-color: rgba(255,255,255,0.5);}
} */

/* .hidden {
  opacity: 0;
} */
/* .contact-favicons a i:hover{
  animation-name: active-border;
  animation-duration: 2s;
  cursor: pointer;
    
    } */
/* @keyframes sideways {
  0% {
    width: 5vw;
  }
  50% {
    width: 50vw;
  }
  100% {
    width: 120vw;
  }
} */



/*languages section*/
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 80px 30px;
  border-radius: 10px;
  background-color: white;
}
 

.languages div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 10px solid #173e43;
  margin: 20px 0px;
  background-color: #dddfd4;
}
/*colors rgb(126,202,194) lt blue
rgb(113, 189, 172) lt aqua
rgb(246,208,117) dk yellow
rgb(172,162,158) dk gray
rgb(141,208,169) dk green
rgb(216,244,203) lt green *
rgb(117,73,103) purple
#dddfd4 gray*
#fae596 yellow
#3fb0ac lt teal
#173e43 dk teal almost black
#71BDAC med teal*/
.languages div i {
  padding: 0px 20px 0px 0px;
  font-size: 25px;
}


/*projects section*/
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  border: none;
  padding: 30px 40px 80px 30px;
  border-radius: 10px;
  background-color: white;
 
  
}
/* @media only screen and (min-width: 350px) and (max-width: 450px) {
  
  .projects h4 {
    padding: 3px 2px 3px 2px;
  }
  .flip-card-back p {
    padding: 0px 4px;
    line-height: 1;
    font-size: 10px;
    padding: 5px;
  }  
} */

@media only screen and (min-width: 990px) {
  .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  }
}


.flip-card {
  display: flex;
  background-color: transparent;
  max-width: 600px;
  height: 150px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color:rgb(126,202,194);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
 
}
.flip-card-front img {
  width: 100%;
  box-sizing: border-box;
}
.flip-card-back p {
  padding: 0px 5px;
  line-height: 1.4;
  font-size: 12px;
  padding: 5px 3px;
}
.projects h4 {
  padding: 5px 2px;
  font-size: 16px;
}

.projects a {
  color:rgba(1, 46, 36, 0.8);
  padding-top: 5px;
}

@media only screen and (min-width: 450px) {
  .flip-card-back p {
  padding: 0px 40px;
  line-height: 1.5;
  font-size: 18px;
  padding: 10px 20px;
}

.projects h4 {
  padding: 30px 20px;
  font-size: 24px;
}

.projects a {
  color:rgba(1, 46, 36, 0.8);
  padding-top: 20px;
}

.flip-card {
  max-width: 600px;
height: 350px;
}
}





/* .project img {
  max-width: 100%;
  box-sizing: border-box;
  border: 3px solid #fae596;
  margin: 10px 0px;
  
} */

/* .p1 img{
  padding-top: 7px;
} */
/* to hide and show with JS */
/* .cards-container {
  width: 100vw;
  height: 80vh;
  position: relative;
} */
/* .cards {
  width: 400px;
  background-color: rgb(216,244,203);
  color: #173e43;
  border-radius: 8px;
  display: none; */
  



/* end hide and show with JS */

/*for the future if placeholder cards are needed*/
/* .coming-soon {
  background-image: radial-gradient(
    circle at center,
    rgb(216, 244, 203) 0,
    #173e43 100%
  );
  background-size: contain;
  max-width: 550px;
  min-height: 250px;
  max-height: 375px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 20px;
  border: 3px solid #fae596;
  margin: 10px 0px;
  background-color: #dddfd4;
}

.coming-soon p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  padding: 80px 10px 20px 10px;
} */



/*education section*/
.education {
padding: 30px 40px 80px 30px;
 background-color: white;  
  border-radius: 10px;
  
  
}

.education div {
  padding: 20px 0px;
 
}

.education div h4 {
  padding-bottom: 10px;
}

.education p:nth-child(3) {
  color: rgb(117,73,103);
  font-style: italic;
  font-weight: 600;
  
}


/*bio section*/
.bio {
padding: 30px 40px 60px 30px;
  background-color: white;
  border-radius: 10px;  
}

@media only screen and (max-width: 500px) {
  .bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
}

.bio p {
  padding: 20px 0px;
  color: rgb(23,62,67);
  font-size: 18px;
}

.bio img {
  width: 60%;
  min-width: 175px;
  height: auto;
  border-radius: 100%;
  padding: 20px 0px;
/*   object-fit: contain; */
}

.bio hr {
  width: 60%;
  min-width: 130px;
  margin: 0px 20px;
}


.bio-background-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 45%;
  min-width: 40%;
  /* padding-right: 70%;
  margin-left: 10px; */
}

.bio-background-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 40%;
  }

@media only screen and (min-width: 501px) {
.bio-background-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding-left: 60%;
  padding-right: 10px;
  min-width: 40%;
  margin-right: 10px;
}
}

aside {
  color: rgb(23,62,67);
  font-style: italic;
  font-family: 'Kalam', cursive; 
  font-size: 20px;
}

/*hire section*/

.hire {
padding: 70px 40px 65px 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
button {
  background-color: #fae596;
  color: rgb(117,73,103);
  font-size: 25px;
  border-radius: 10px;
  border: none;
  border-bottom: 4px solid rgb(246,208,117);
  padding: 10px 35px;
  margin-bottom: 20px;
}
.button-change {
  font-size: 25px;
  transition: font-size 1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: 0;
}



.contact-favicons {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.contact-favicons a i {
  padding: 25px 25px;
  margin: 30px 25px;
  font-size: 20px;
  color: rgb(83, 80, 78); 
  border-radius: 100%;
  border: 2px solid rgba(113, 189, 172, .8);
  
}
@media only screen and (max-width: 500px) {
  .contact-favicons a i {
    padding: 10px 10px;
    margin: 30px 5px;
  }
}
/* animation-timing-function: ease-in-out; */

@keyframes active-border {
  from {border: 2px solid white;}
  to {border: 2px solid rgb(141,208,169);}
  to {border: 2px solid rgba(1, 46, 36, 0.8);}
  to {border: 2px solid rgba(113, 189, 172, .8)}
}
.contact-favicons a i:hover{
  animation-name: active-border;
  animation-duration: 2s;
  cursor: pointer;
    
    }
/* end animation */

footer .sig {
  font-family: 'Kalam', cursive;
  font-size: 18px;
  text-align: center;
  padding: 60px 0px 20px 0px;
  color: white;
}

footer p {
  text-align: center;
  color: white;
  padding-top: 15px;
}


.titles {
  
  padding-top: 0px;
  background-color: transparent;
  border-style: outset;
  width: 0%;
  height: 1px;
  margin-bottom: 40px;
  /* animation: line-grow 1.5s ease-out;
  animation-delay: 3s;
  animation-iteration-count: 3; */
}
/* @keyframes line-grow {
  from {width: 0%; transform-origin: left; transform: translateX(-800px); background-color: white;}
  to {width: 30%; transform: translateX(-500px); background-color: white;}
  to {width: 100%; transform: translateX(-200px); background-color: white;}
  to {width: 20%; transform: translateX(-50px); background-color: rgba(255,255,255,0.5);}
}

.hidden {
  opacity: 0;
} */