@font-face {
  font-family: "Moderna";
  src: url(fonts/Moderna-nAE1.ttf);
}
@font-face {
  font-family: "Auradema";
  src: url(fonts/Aurademo-1Gvx4.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
small,
strike,
strong,
sub,
sup,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  outline: none;
}

/* begin custom css */
html {
  font-family: "Aurademo", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-family: "Aurademo", sans-serif;
}

.headline {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 60px;
  column-gap: 40px;
}
@media (max-width: 768px) {
  .headline {
    padding: 0px;
  }
}
.headline p {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  padding: 40px 0;
  font-weight: 300;
}

h1 {
  color: white;
  font-size: 42px;
  font-family: "Moderna", sans-serif;
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2,
h3 {
  font-size: 24px;
  color: #173e43;
  font-family: "Moderna", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

h2 {
  margin: 20px;
  padding-top: 20px;
  font-size: 40px;
  font-family: "Moderna", sans-serif;
}

h4 {
  color: #173e43;
  font-size: 25px;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-lg-50 {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .w-xs-100 {
    width: 100%;
  }
}

main {
  margin: 0px 40px;
  padding: 0 20px;
}
@media (max-width: 768px) {
  main {
    margin: 0px;
  }
}

body {
  /*-----------------circle section--------------------*/
}
body header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fae596;
  border-bottom: 10px solid #173e43;
  border-style: inset;
  padding: 10px 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
body header p {
  font-size: 26px;
  padding-left: 60px;
  color: rgb(117, 73, 103);
  font-family: "Moderna", sans-serif;
}
@media (max-width: 768px) {
  body header p {
    padding-left: 20px;
  }
}
body header .navigation {
  margin-top: 10px;
}
body header .hamburger {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
  background-color: #173e43;
  padding: 5% 0px;
}
body header .hamburger ul {
  list-style: none;
  width: 250px;
  padding-left: 20px;
  font-family: "Moderna", sans-serif;
  letter-spacing: 1.5px;
}
body header .hamburger a {
  color: white;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
}
body header .hamburger a:link {
  color: white;
}
body header .hamburger a:hover {
  color: #fae596;
}
body header .hamburger a:active {
  color: #fae596;
}
body header .hamburger .close {
  position: absolute;
  bottom: 650px;
  left: 20px;
  font-size: 36px;
  margin-left: 0px;
  color: white;
  text-decoration: none;
  display: none;
}
body header svg {
  padding-right: 30px;
}
body .hero-wrap {
  background-size: cover;
  background-repeat: repeat;
  height: auto;
  background-attachment: fixed;
  background-image: linear-gradient(15deg, #dddfd4, rgb(172, 162, 158), #173e43);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  border: 10px solid #173e43;
  border-style: inset;
}
@media (max-width: 768px) {
  body .hero-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
body .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}
body .circles {
  position: relative;
  height: 480px;
  margin: auto;
  padding: 60px;
}
@media (max-width: 768px) {
  body .circles {
    padding: 0px;
    height: 545px;
    width: calc(100% - 150px);
  }
}
@media (max-width: 600px) {
  body .circles {
    width: calc(100% - 30px);
  }
}
body .circles p {
  font-size: 20px;
  font-family: "Moderna", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media (max-width: 768px) {
  body .circles p {
    font-size: 18px;
  }
}
body .circles .circle {
  transition-timing-function: linear;
  transition: 0.8s;
  position: absolute;
  border-radius: 50%;
  box-shadow: -1px 3px 5px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .circles .circle.languages-circle p {
  text-align: center;
}
body .circles .circle:hover {
  transform: scale(1.4);
  font-size: 22px;
  z-index: 3;
}
body .circles .projects-circle {
  background-color: rgb(141, 208, 169);
  top: 20px;
  left: 0;
  width: 180px;
  height: 180px;
}
body .circles .hire-me-circle {
  background-color: #3fb0ac;
  top: 50px;
  right: 50px;
  width: 110px;
  height: 110px;
}
body .circles .bio-circle {
  background-color: rgb(113, 189, 172);
  top: 150px;
  left: 35%;
  width: 95px;
  height: 95px;
}
body .circles .education-circle {
  background-color: rgb(216, 244, 203);
  top: 220px;
  right: 10px;
  width: 170px;
  height: 170px;
}
body .circles .languages-circle {
  background-color: rgb(126, 202, 194);
  top: 270px;
  left: 20px;
  width: 190px;
  height: 190px;
  align-self: flex-end;
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  body .circles .projects-circle {
    width: 180px;
    height: 180px;
  }
  body .circles .hire-me-circle {
    width: 110px;
    height: 110px;
  }
  body .circles .bio-circle {
    width: 80px;
    height: 80px;
  }
  body .circles .education-circle {
    width: 200px;
    height: 200px;
  }
  body .circles .languages-circle {
    width: 240px;
    height: 240px;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  body .circles .projects-circle {
    width: 180px;
    height: 180px;
  }
  body .circles .hire-me-circle {
    width: 120px;
    height: 120px;
  }
  body .circles .bio-circle {
    width: 90px;
    height: 90px;
  }
  body .circles .education-circle {
    width: 190px;
    height: 190px;
  }
  body .circles .languages-circle {
    width: 250px;
    height: 250px;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1223px) {
  body .circles .projects-circle {
    width: 200px;
    height: 200px;
  }
  body .circles .hire-me-circle {
    width: 130px;
    height: 130px;
  }
  body .circles .bio-circle {
    width: 100px;
    height: 100px;
  }
  body .circles .education-circle {
    right: 20px;
    width: 260px;
    height: 260px;
  }
  body .circles .languages-circle {
    width: 270px;
    height: 270px;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 1224px) {
  body .circles .projects-circle {
    width: 200px;
    height: 200px;
  }
  body .circles .hire-me-circle {
    width: 130px;
    height: 130px;
  }
  body .circles .bio-circle {
    width: 100px;
    height: 100px;
  }
  body .circles .education-circle {
    right: 55px;
    width: 260px;
    height: 260px;
  }
  body .circles .languages-circle {
    width: 270px;
    height: 270px;
    align-self: flex-end;
  }
}

/* ---------------begin main -------------------*/
main .skills-experience-wrap {
  display: flex;
  justify-content: space-between;
}
main .skills-experience-wrap .languages-wrapper {
  width: calc(50% - 40px);
}
main .skills-experience-wrap .languages-wrapper .languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
main .skills-experience-wrap .languages-wrapper .languages div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 4px solid #173e43;
  margin: 20px 0px;
  background-color: #dddfd4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
main .skills-experience-wrap .languages-wrapper .languages div:hover {
  background-color: #173e43;
  color: white;
}
main .skills-experience-wrap .languages-wrapper .languages div:hover h3 {
  color: white;
}
main .skills-experience-wrap .languages-wrapper .languages div i {
  padding: 0px 20px 0px 0px;
  font-size: 25px;
}
main .skills-experience-wrap .experience-wrapper {
  width: calc(50% - 40px);
}
main .projects-wrapper .projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  border: none;
  padding: 50px 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 990px) {
  main .projects-wrapper .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
}
main .projects-wrapper .projects h4 {
  padding: 5px 2px;
  font-size: 16px;
}
main .projects-wrapper .projects a {
  color: rgba(1, 46, 36, 0.8);
  padding-top: 5px;
}
@media only screen and (min-width: 450px) {
  main .projects-wrapper .projects h4 {
    padding: 30px 20px;
    font-size: 24px;
  }
  main .projects-wrapper .projects a {
    color: rgba(1, 46, 36, 0.8);
    padding-top: 20px;
  }
}
main .projects-wrapper .projects .flip-card {
  display: flex;
  background-color: transparent;
  max-width: 600px;
  height: 150px;
  perspective: 1000px;
  margin: auto;
}
main .projects-wrapper .projects .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-front,
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-front {
  display: flex;
  background-color: transparent;
  color: black;
}
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-front img {
  width: 100%;
  box-sizing: border-box;
}
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-back {
  background-color: rgb(126, 202, 194);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-back p {
  line-height: 1.4;
  font-size: 12px;
  padding: 5px 3px;
}
@media only screen and (min-width: 450px) {
  main .projects-wrapper .projects .flip-card .flip-card-inner .flip-card-back p {
    line-height: 1.5;
    font-size: 18px;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 450px) {
  main .projects-wrapper .projects .flip-card {
    max-width: 600px;
    height: 350px;
  }
}
main .projects-wrapper .projects .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*-----------education section---------------------*/
.education-wrapper .education {
  background-color: white;
}
.education-wrapper .education .edu {
  background-color: white;
  padding: 20px 20px;
  border: 1px solid lightgray;
  margin: 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.education-wrapper .education .edu h4 {
  padding-bottom: 10px;
}
.education-wrapper .education p:nth-child(3) {
  color: rgb(117, 73, 103);
  font-style: italic;
  font-weight: 600;
}
.education-wrapper .education .edu-block-1 p:nth-child(3), .education-wrapper .education .edu-block-2 p:nth-child(3) {
  line-height: 1.5;
}
.education-wrapper .education .edu-block-4 p:nth-child(2), .education-wrapper .education .edu-block-3 p:nth-child(2), .education-wrapper .education .edu-block-10 p:nth-child(2), .education-wrapper .education .edu-block-11 p:nth-child(2), .education-wrapper .education .edu-block-12 p:nth-child(2) {
  line-height: 1.5;
}

/*---------------bio section----------------*/
.bio-wrapper .bio {
  padding: 50px 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  /* --------slick slider-----------  */
  /* ---------for centerMode slider feature------------ */
  /* .slick-center {
    -moz-transform:scale(1.50);
    -ms-transform:scale(1.50);
    -o-transform:scale(1.50);
    -webkit-transform:scale(1.50);
    color:#e67e22;
    opacity:1;
    transform:scale(1.50);
    height: 100%;
  } */
}
.bio-wrapper .bio p {
  padding-bottom: 20px;
  line-height: 1.5;
}
.bio-wrapper .bio #slider {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.bio-wrapper .bio #slider .slides {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.bio-wrapper .bio #slider .slide {
  list-style-type: none;
  width: 80vw;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .bio-wrapper .bio #slider .slide {
    padding: 0 20px;
  }
}
.bio-wrapper .bio #slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 762px) {
  .bio-wrapper .bio #slider .slide img {
    width: 120%;
    height: 120%;
  }
  .bio-wrapper .bio #slider .slide {
    padding-right: 25px;
  }
}
.bio-wrapper .bio .slick-prev:before, .bio-wrapper .bio .slick-next:before {
  color: black !important;
  font-size: 30px !important;
  padding-bottom: 50px;
  font-weight: bold;
}
.bio-wrapper .bio .slick-prev:before {
  content: "{" !important;
}
.bio-wrapper .bio .slick-next:before {
  content: "}" !important;
}
.bio-wrapper .bio button .slick-prev, .bio-wrapper .bio .slick-arrow {
  box-shadow: 0 0px 0px 0 rgb(0, 0, 0) !important;
}

/*--------------hire section-------------------*/
.hire-wrapper {
  /* animation-timing-function: ease-in-out; */
  /* end animation */
}
.hire-wrapper .hire {
  padding: 40px 20px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.hire-wrapper button {
  background-color: #fae596;
  color: rgb(117, 73, 103);
  font-size: 20px;
  font-family: "Moderna", sans-serif;
  text-transform: uppercase;
  border: 2px solid rgb(117, 73, 103);
  padding: 10px 35px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.hire-wrapper button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(117, 73, 103);
}
.hire-wrapper button:active {
  outline: 0;
}
.hire-wrapper .contact-favicons {
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.hire-wrapper .contact-favicons a i {
  padding: 15px;
  margin: 30px 100px;
  font-size: 25px;
  color: rgb(83, 80, 78);
  border-radius: 100%;
  border: 2px solid rgba(113, 189, 172, 0.8);
}
@media only screen and (max-width: 550px) {
  .hire-wrapper .contact-favicons a i {
    padding: 10px 10px;
    margin: 30px 15px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 800px) {
  .hire-wrapper .contact-favicons a i {
    padding: 25px 25px;
    margin: 30px 45px;
  }
}
.hire-wrapper .contact-favicons a i:hover {
  animation-name: active-border;
  animation-duration: 2s;
  cursor: pointer;
}
.hire-wrapper .tooltip {
  position: relative;
  display: inline-block;
}
.hire-wrapper .tooltip .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: white;
  color: rgb(1, 46, 36);
  text-align: center;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px 1px;
  position: absolute;
  bottom: -10px;
  right: 80px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
@media only screen and (max-width: 550px) {
  .hire-wrapper .tooltip .tooltip-text {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 800px) {
  .hire-wrapper .tooltip .tooltip-text {
    position: absolute;
    bottom: -10px;
    right: 28px;
  }
}
.hire-wrapper .tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
@keyframes active-border {
  from {
    border: 2px solid white;
  }
  to {
    border: 2px solid rgb(141, 208, 169);
  }
  to {
    border: 2px solid rgba(1, 46, 36, 0.8);
  }
  to {
    border: 2px solid rgb(117, 73, 103);
  }
}

footer .sig {
  font-family: "Aurademo", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 60px 0px 20px 0px;
  color: white;
}
footer p {
  text-align: center;
  color: white;
  padding-top: 15px;
}

/*# sourceMappingURL=style-compiled.css.map */
